{% extends 'layout.html' %}

{% block body%}
<head>
    <link href="/static/signin.css" rel="stylesheet">
</head>

<body class="text-center">
  <div class="container">
    <form class="form-signin" action="/admin/despachanteOn">
  <h1 class="h3 mb-3 font-weight-normal">Entrar</h1>
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
  <label for="inputPassword" class="sr-only">Senha</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Lembrar-me
    </label>
    <button class="btn btn-lg btn-success btn-block" type="submit">Entrar</button>
  </div>
   <div class="dropdown-divider"></div>

  </form>
  <button class="btn btn-lg btn-success btn-block" type="submit">Cadastrar</button>
</div>

  </div>

</body>

{% endblock %}
