{% block body %}

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/admin/despachante">
    Despachante Administrador
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <a class="text-light p-2" href="/admin/despachante/pedidos">
    Pedidos
    </a>
    <a class="text-light p-2" href="/admin/despachante">
      Planilha
    </a>
    <a class="text-light p-2" href="/admin/despachante">
      Configurações
    </a>
    <a class="text-light p-2" href="/admin/despachante">
      Outros
    </a>
    <a class="text-light p-2" href="/admin/despachante">
      Sair
    </a>

  </div>

</div>

{% endblock %}
